# IDE project files
*.depend
*.layout
*.kdev4
.directory
.project
.cproject
Issues

# other targets from building
parser.cc
lexer.cc
parser.output
ast-cc
*.rpt
parser.hh

# binary targets
obj/*
bin/*
*.o
*.d

# backup files
*~

# directories
.kdev4
/bin/
.settings/*
